In [1]:
import pandas as pd
from label_util import LabelingTool
import torchvision
import torchvision.transforms as transforms
import torch
import os

In [2]:
# os.mkdir('images_folder')
# os.mkdir('images_folder/model1')
# os.mkdir('images_folder/model2')


# transform = transforms.Compose(
#     [transforms.ToTensor(),
#      transforms.Normalize((0.5, 0.5, 0.5), (0.5, 0.5, 0.5))])

# trainset = torchvision.datasets.CIFAR10(root='./data', train=True,
#                                         download=True, transform=transform)

# trainloader = torch.utils.data.DataLoader(trainset, batch_size=4,
#                                           shuffle=True, num_workers=2)

# import matplotlib.pyplot as plt
# import numpy as np

# # functions to show an image
# k = 0

# def imshow(img):
#     global k

#     img = img / 2 + 0.5     # unnormalize
#     npimg = img.numpy()
#     npimg = np.transpose(npimg, (1, 2, 0))
#     plt.imshow(npimg)

#     if k % 2:
#         plt.savefig(f'images_folder/model{1}/{k}.jpg')
#     else:
#         plt.savefig(f'images_folder/model{2}/{k-1}.jpg')
#     k += 1
#     #plt.savefig(f'images_folder/model2/img_{k}.jpg')
#     plt.show()


# # get some random training images
# dataiter = iter(trainloader)
# images, labels = next(dataiter)

# # show images
# imshow(torchvision.utils.make_grid(images))

# for item in images:
#     imshow(item)

In [3]:
dic = {
    'id': [1, 3],
    'model_1': ['model1', 'model2'],
    'model_2': ['model2', 'model1'],
    'core_lemma': ['lemma1', 'lemma2']
}
df = pd.DataFrame.from_dict(dic)
df = df.set_index('id')

In [4]:
df

   model_1 model_2 core_lemma
id
1   model1  model2     lemma1
3   model2  model1     lemma2

In [5]:
labeler = LabelingTool(dataset=df, assessor_id='vitya', image_path='/home/data/v.moskvoretskii/TaxoGen/images_folder', save2path='test_output.csv')

All samples are labeled!

In [6]:
labeler.label_samples()

VBox(children=(HBox(children=(Output(), Output()), layout=Layout(align_items='center')), VBox(children=(Outputâ€¦

In [8]:
df

   model_1 model_2 core_lemma assessor_vitya
id
1   model1  model2     lemma1              3
3   model2  model1     lemma2              4

In [11]:
output = pd.read_csv('test_output.csv', index_col=0)

In [12]:
output

   model_1 model_2 core_lemma  assessor_vitya
id
1   model1  model2     lemma1               3
3   model2  model1     lemma2               4